# Token del bot (obtenelo en https://discord.com/developers/applications)
DISCORD_TOKEN=tu_token_aqui

# ID de tu aplicación de Discord (Application ID)
CLIENT_ID=tu_client_id_aqui

# ID del servidor de Discord donde se va a usar el bot (Guild ID)
# Haz clic derecho en el servidor en Discord > "Copiar ID del servidor"
GUILD_ID=tu_guild_id_aqui
